body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2em;
    color: #777;
}

.blog-posts {
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.post {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1;
    min-width: 386px;
    max-width: 386px;
}

.post img {
    width: 100%;
    height: auto;
}

.post-content {
    padding: 20px;
}

.post-content h3 {
    margin-top: 0;
    min-height: 64px;
}

.post-content p {
    color: #555;
    min-height: 96px;
}

.post-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.post-meta img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.meta-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meta-info span {
    display: block;
}

.job {
    color: #aaa;
}

.date {
    font-size: 0.9em;
    color: #888;
    margin-left: auto;
}

.view-gallery {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.view-gallery a {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 980px) {
    .post {
        min-width: 300px;
    }
    .post-content h3 {

        min-height: 0px; 
    }
    .post-content p {

        min-height: 0px;
    }
}
@media (max-width: 660px) { 
    .post {
        min-width: 220px;
    }
}